<h2> Notes book "Poner nombre titulo libro" </h2>
<ul>
    <% @notes.each do |note| %>
        <li> 
            <strong>Title:</strong> <%= note.title %>
            <p>
                <strong>Content:</strong> <%= note.content %>
            </p>
            <%= link_to "Edit", edit_note_path(note.id)%>
            <%= button_to 'Delete', note, method: :delete, data: { confirm: 'Seguro que desea eliminar la nota?' } %>

        </li>
    <% end %>
</ul>