<h2> New Book </h2>

<% ### Iteramos sobre cada campo del libro %>
<%= form_for @book do |f| %>

    <% ### Si hay errores, los mostramos %>
    <% if @book.errors.any? %>
        <% @book.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
    <%= f.label :title, 'Titulo' %>
    <%= f.text_field :title, placeholder: 'Ingrese un titulo' %>
    <input type="submit" value="Enviar" onclick="return confirm('Esta seguro que desea crear un nuevo libro?')">
<% end %>