<!DOCTYPE html>
<html>
  <head>
    <title>Ttps2020</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/assets/stylesheets/application.css" rel="stylesheet">
    <%=stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <% ### yield lo que hace es como en vue el <router-view>, en vez de reemplazar el componente reemplaza el controlador que se esta ejecutando %>
    <%= yield %>
  </body>
</html>
